<div class="user-pets">
    <div *ngFor="let pet of pets" class="pet">
        <div class="foto-mascota">
            <img [src]="pet.profilePhoto ? 'data:image/jpeg;base64,' + pet.profilePhoto : '../../../../assets/default.jpg'"
                alt="">
        </div>
        <h1>{{ pet.name }}</h1>
        <h2>{{ pet.speciesName }}</h2>
        <h2>{{ pet.breedName }}</h2>
    </div>
    <div class="pet">
        <i [routerLink]="['/añadir-mascota']" class="fa-solid fa-square-plus fa-bounce" style="color: #000000;"></i>
    </div>
</div>