<div class="main">
    <section class="reset-password">
        <div class="titulo">
            <img src="../../../assets/LOGO_PETWELLNES_R.png" alt="">
            <h1>Reestablecer Contraseña</h1>
        </div>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <div class="form">
                <h2>Código de Restablecimiento</h2>
                <div *ngIf="isInvalid('token')" class="error-message">
                    El código es requerido
                </div>
                <input type="text" formControlName="token" placeholder="" [ngClass]="{'invalid': isInvalid('token')}">

                <h2>Nueva Contraseña</h2>
                <div *ngIf="isInvalid('password')" class="error-message">
                    La contraseña es requerida
                </div>
                <input type="password" formControlName="password" placeholder=""
                    [ngClass]="{'invalid': isInvalid('password')}">

                <h2>Confirmar Contraseña</h2>
                <div *ngIf="isInvalid('confirmPassword')" class="error-message">
                    Las contraseñas no coinciden
                </div>
                <input type="password" formControlName="confirmPassword" placeholder=""
                    [ngClass]="{'invalid': isInvalid('confirmPassword')}">
            </div>
            <div class="boton">
                <button class="reestablecer" type="submit" [disabled]="resetPasswordForm.invalid">REESTABLECER</button>
            </div>
        </form>
    </section>
</div>