<div class="main">
    <div class="broadcrumb">
        <a [routerLink]="['']" class="broad">
            <i class="fa-solid fa-house"></i>
            <span>Inicio</span>
        </a>
        <a [routerLink]="['/foro']" class="broad">
            <span> / Foro</span>
        </a>
        <a [routerLink]="['/perros']" class="broad">
            <span> / Perros</span>
        </a>
        <span class="broadforo"> / {{ thread.title }}</span>
    </div>

    <section class="thread" *ngIf="thread">
        <div class="hilo">
            <div *ngIf="!editMode">
                <h1 class="titulo">{{ thread.title }}</h1>
                <p class="fecha-autor">
                    el {{ thread.createdAt | date:'shortDate' }} a las {{ thread.createdAt | date:'shortTime' }}
                    por {{ thread.user?.username || 'Desconocido' }}
                </p>
                <div class="contenido" [innerHTML]="thread.content"></div>
            </div>
            <div class="iconos">
                <i class="fa-solid fa-message" id="respuestas">
                    <p>{{ responses.length }}</p>
                </i>
                <i *ngIf="isCreator" (click)="redirectToEdit()" id="editar" class="fa-solid fa-pen-to-square"
                    style="color: #000000;"></i>
            </div>
        </div>
    </section>

    <section class="respuestas">
        <div *ngFor="let response of responses" class="respuesta">
            <div class="usuario">
                <img [src]="'../../../../assets/' + response.user.avatar" alt="">
                <h2>{{ response.user.username }}</h2>
            </div>
            <div class="contenido">
                <p>{{ response.content }}</p>
            </div>
            <div class="likes">
                <i class="fa-solid fa-heart" style="color: #d03733;"></i>
                <p>{{ response.likes }}</p>
                <i class="fa-solid fa-reply" style="color: #000000;"></i>
            </div>
        </div>
    </section>
    <section class="responder">
        <div id="editor-container"></div>
        <div class="boton-responder">
            <button>Responder</button>
        </div>
    </section>
</div>