<div class="main">
    <section class="change-password">
        <div class="titulo">
            <img src="../../../assets/LOGO_PETWELLNES_R.png" alt="">
            <h1>Cambiar Contraseña</h1>
        </div>
        <div class="form">
            <h2>Contraseña</h2>
            <input type="password" placeholder="Contraseña actual" [(ngModel)]="currentPassword">
            <h2>Nueva Contraseña</h2>
            <input type="password" placeholder="Nueva contraseña" [(ngModel)]="newPassword">
            <h2>Confirmar Nueva Contraseña</h2>
            <input type="password" placeholder="Confirmar nueva contraseña" [(ngModel)]="confirmNewPassword">
        </div>
        <div class="buttons">
            <button class="confirmar" (click)="changePassword()">Confirmar</button>
            <button [routerLink]="['/editInfo']" class="cancelar">Cancelar</button>
        </div>
    </section>
</div>